.content-container {
    max-width: 768px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.demo-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.demo-btn-list {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap:5px;
    grid-template-columns: max-content;
    padding-right: 15px;
    min-width: 120px;
}

.demo-btn {
    height: 43px;
    width: 77px;
    font-weight: bold;
}

.demo-inner-container {
    border: solid 5px;
    flex-grow: 1;
}

.demo-inner-container, h1,h3,h4,p{
    margin: 10px 5px;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .content-container {
        width: 80%;
        margin: auto;
    }

    .btn-footer{
       width: 75%;
    }

    .demo-container {
        flex-direction: column;
    }

    .demo-btn-list {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-right: 15px;
        min-width: 120px;
    }

    .demo-btn {
        max-height: 43px;
        width: 100%;
        grid-row-gap:10px;
        grid-column-gap:10px;
    }
}

@media screen and (max-width: 560px) {
    .demo-btn-list {
    justify-self: center;
        display: grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }
    .demo-btn {
        max-height: 43px;
        width: 80%;
        grid-row-gap:10px;
        grid-column-gap:10px;
    }

    .btn-footer{
        width: 50%;
    }

}

/* Mobile Media Query */
@media screen and (max-width: 480px) {
    .content-container {
        width: 100%;
        margin: auto;
    }

    .footer-container {
        flex-direction: column;
        margin: 30px 0;
    }
    .btn-footer{
        width: 100%;
    }

    .demo-container {
        flex-direction: column;
    }

    .demo-btn-list {
        flex-direction: row;
        justify-content: space-around;
        padding-right: 0;
        min-width: auto;
    }

    .demo-btn {
        max-height: 43px;
        width: 80%;
        grid-row-gap:10px;
        grid-column-gap:10px;
    }
}