.submit-buttons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit-input {
    width: 100%;
    box-sizing: border-box;
}

.edit-text-area {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.demo-options-editor-title {
    margin-top: 48px;
}