/***** LESSON LIST *************************************************************/

.link-list-box {
    width: max-content;
}

.lesson-link-list {
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lesson-link-list-sizing {
    width: 800px;
}

.link-list-heading {
    padding: 10px;
    margin: 0 0 8px 0;
    font-size: 25px;
    text-align: center;
    border-bottom: 1.5px solid #A8D4E3;
}

.link-list-item {
    font-size: 20px;
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1.5px solid #A8D4E3;
}

#first {
    padding: 4px 10px 10px 10px;
}

.link-list-link {
    text-decoration: none;
}

/***** MEDIA QUERY *************************************************************/
/* Media Query -transition- */
@media screen and (max-width: 850px) {
    .link-list-box {
        width: 400px;
    }

    .lesson-link-list {
        padding: 0 10px 0 0;
        max-height: 400px;
        width: 400px;
    }
}
/* Media Query -transition2- */
@media (max-width: 768px) {
    .lesson-link-list {
        min-height: 95vh;
        vertical-align: center;
    }

    .lesson-link-list-sizing {
        width: 750px;
    }
}

/* Media Query -transition3- */
@media (max-width: 560px) {
    .lesson-link-list {
        min-height: 600px;
        height: 95vh;
    }

    .lesson-link-list-sizing {
        width: 600px;
    }
}

/* Media Query: MOBILE */
@media (max-width: 480px) {
    .lesson-link-list {
        height: 95vh;
        vertical-align: center;
    }

    .lesson-link-list-sizing {
        width: 300px;
    }
}