.scores-rewards-wrapper{
    display: flex;
}

.leaderboard-box {
    position: absolute;
    left: 50px;
    text-align: center;
    display: inline-grid;
    height: 400px;
    width: 400px;
}

.rewards-box{
    position: absolute;
    right: 50px;
    text-align: center;
    display: inline-grid;
    height: 400px;
    width: 600px;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

.box-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table{
    display: flex;
    flex-wrap: wrap;
}

.rows{
    display: flex;
    width: 100%;
}

.main-heading{
    font-size: 30px;
    text-align: center;
}

.column-headings{
    font-size: 20px;
    text-decoration: none;
}

.leaderboard-column-items{
    border-bottom: 2px solid #FFD166;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: -10px;
    padding: 10px;
    text-align: left;
}

.leaderboard-column-one{
    flex: 10%;
    text-align: left;
    margin-top: 1px;
    margin-bottom: -10px;
}

.leaderboard-column-two{
    flex:10%;
    text-align: right;
    list-style: none;
    margin-top: 1px;
    margin-bottom: -10px;
}

.rewards-image-column{
    flex: 1 1 20%;
    border-bottom: 2px solid #EF476F;
    margin-bottom: 5px;
}

.rewards-avatar-column{
    flex: 1 1 50%;
    padding: 10px;
    border-bottom: 2px solid #EF476F;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
}

.rewards-score-column{
    flex: 1 1 30%;
    padding: 10px;
    border-bottom: 2px solid #EF476F;
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px;
}

.small-box-img{
    display: inline-block;
    width: 40px;
    height:40px;
    justify-self: center;
}

