.log-in-sign-up-wrapper{
    margin-top:17vh;
}

.sign-up-quizz{
    width: max-content;
    height: max-content;
}

.fine-print-box{
    display: inline-block;
    margin:10px 5px 10px 0px;
    padding: 5px 5px 5px 10px;
    border-left: solid 3px var(--dark-blue);
    vertical-align: middle;
}

.fine-print{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;

}

.text-input-signUp-quizz-section{
    display: flex;
    flex:50%;
    justify-content:center ;

}

#age-input{ width: 30px;

}

.sign-up-quizz-stack{
    display: inline-block;
    padding:0px 10px 0px 0px;
    flex:50%;
}

.radio-quiz-section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: center
}

.notification-box{
    margin: 10px 20px;
    padding: 8px;
    padding-left:20px;
    height: auto;
    border:1px solid var(--blue);
    border-left:10px solid var(--blue);
    border-radius: 4px;
    background-color: var(--blue-light);
}

.notification-box-text{
    font-size: 15px;
    font-weight: lighter;
}

.next-btn{
    display: block;
    margin:20px auto;
}