/***** SIGN UP / LOGIN *************************************************************/
.sign-up-wrapper,
.log-in-wrapper {
    margin: 8% auto;
    padding: 20px;
    width: min-content;
}

.text-input {
    display: flex;
    flex: 50%;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px;
    padding: 13px 23px;
    border: solid 3px var(--dark-blue);
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.text-input::placeholder {
    color: var(--place-holder-color);
}

.fine-print-box {
    display: inline-block;
    margin: 10px 5px 10px 0;
    padding: 5px 5px 5px 10px;
    border-left: solid 3px var(--dark-blue);
    vertical-align: middle;
}

.fine-print {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
/***** SIGN UP QUIZ ****************************************************************/
#age-input {
    flex: none;
    width: 30px;
}

#child-name {
    flex: none;
}

.sign-up-quiz-wrapper {
    width: max-content;
    height: max-content;
}

#notification-box {
    margin: 0 20px;
    padding: 8px 8px 8px 30px;
    height: auto;
    display: block;
    border: 1px solid var(--blue);
    border-left: 10px solid var(--blue);
    border-radius: 4px;
    background-color: var(--blue-light);
    visibility: hidden;
    text-align: left;
}

.notification-box-text {
    font-size: 15px;
    font-weight: lighter;
}

.next-btn {
    font-size: 16px;
    margin: 0;
    padding: 8px 20px;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    user-select: none;
    display: block;
    margin: 20px auto;
}

.skill-quiz {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.text-input-section {
    display: flex;
    flex: 100%;
    justify-content: center;
}
/***** MEDIA QUERY *************************************************************/
/* Media Query -transition- */
@media screen and (max-width: 768px) {
    .sign-up-wrapper,
    .log-in-wrapper {
        margin-top: 10vh;
    }

    .skill-quiz {
        flex-direction: column;
        margin: auto;
        width: fit-content;
        row-gap: 20px;
    }

    .sign-up-quiz-wrapper {
        width: 100%;
    }
}

/* Media Query: MOBILE */
@media screen and (max-width: 480px) {
    .sign-up-wrapper,.log-in-wrapper {
        margin-top: 5vh;
    }

    .fine-print-box {
        margin: 10px 0;
    }

    .text-input{
        display: flex;
        padding: 0;
        flex-direction: column;
        margin: auto auto 10px;
        max-width: 262px;
    }

    .sign-up-quiz-stack {
        display: block;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    #age-input {
        flex:none;
        margin: auto;
    }

    .next-btn {
        margin-top: 10px;
    }

}

